:root {
  --primary-background: black;
  --content-background:#121212;
  --text-color: white;
  --border-items: 2px solid white;
  --svg-color: rgb(210, 200, 200);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN",
    "MS Gothic";
    box-sizing: border-box;
}
body {
  background-color: var(--primary-background);
  color: var(--text-color);
}

.page-wrapper {
  display: flex;
  padding: 0.2rem;
}

.nav {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  width: 25vw;
}
.content {
  width: 75vw;
  border: var(--border-items);
  margin-left: 1rem;
}
/*Spotify logo setting*/
.logo_svg {
    height: 2rem;
    width: 4.5rem;
    filter: brightness(0) invert(1);
    padding: 0.1rem;
  }
/* Svg setting from home menu */
.svg {
  height: 1.5rem;
  width: 1.5rem;
  padding-right: 0.75rem;
  fill: var(--svg-color);
  filter: brightness(0) invert(1);
}
/* Set content inside list as flex item and make them center of flex */
.home ul li {
  display: flex;
  flex-direction: row;
  justify-items: center;
  color: var(--text-color);
  align-items: center;
  margin: 0.75rem;
  font-weight: bold;
  overflow: hidden;
}

.home{
    background-color: var(--content-background);
    border-radius: 0.5rem;
    padding: 1rem;    
    box-sizing: border-box;
}
/* Library */
.library{
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  background-color: var(--content-background);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 0.75rem;    

}

.heading{
    display: flex;
    flex-direction: row;
    justify-self: center;
    width: 100%;
    font-size: 2rem;
}
.cr-list{
  padding:0rem;
  height: 0.85rem;
  width: 0.85rem;
  align-self: center;
  margin-left: 5rem;
}